*{
    margin: 0;
    padding: 0;
}

.main-background{
    width: 100%;
    height: 100vh;
    background-image: url('../assets/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}


@media (min-width:576px) {
    
}

@media (min-width:768px) {
    
}

@media (min-width:992px) {
    
}

@media (min-width:1200px) {
    
}

@media (min-width:1440px) {
    
}