* {
  margin: 0;
  padding: 0;
}

.main-background {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  padding: 20px;
  text-align: center;
}

.movleapph1 {
  color: white;
  margin: 0;
  font-size: 36px;
}

.modojogoh2 {
  text-align: center;
  color: #444;
  font-size: 28px;
  margin: 40px 0 0 0;
}

.cardJogos {
  background-color: #444;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  width: 250px;
  height: 130px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.cardJogos h3 {
  margin: 0 0 10px 0;
}

.cardJogos p {
  margin: 0;
}

.cardJogos:hover {
  transform: translateY(-5px);
}

.divModosJogo {
  width: 100vw;
}

.cardsMJContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
}
